* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    background-image: url("8483052.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    width: 90%;
    max-width: 450px;
    aspect-ratio: 5 / 3;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.card-inner.flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.card-front {
    background-color: #b79f7c;
}

.card-back {
    background-color: #b79f7c;
    transform: rotateY(180deg);
    background-image: url("image.png");
    background-size: cover;
    background-position: center;
}

.squid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.image-container {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
